/* variables.css */
@font-face {
  font-family: 'Cinzel';
  src: url('../assets/fonts/Cinzel-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {    
  --bg-color-main: #F4F1EE; /* Fondo principal (suave, cálido) */
  --bg-color-alt: #FFFFFF; /* Fondo alternativo (tarjetas, secciones) */

  --gray-color: #D6D3D1;/* Tonos grises sutiles para bordes o elementos secundarios */
  --gray-color-dark: #999999;/* Tonos grises oscuros */
  --blue-color: #457B9D;/* Color principal (acentos, botones primarios, enlaces destacados) */
  --green-color: #4CAF50; /* Verde (para confirmaciones, elementos positivos) */
  --red-color: #E63946; /* Rojo (para alertas o acciones destructivas) */
  --orange-color: #F4A261;/* Naranja (para avisos o elementos energéticos) */
  --yellow-color: #FFD166; /* Amarillo suave (opcional, para resaltes o badges) */
  --purple-color: #6A4C93; /* Morado refinado (acento alternativo) */
  --white-color: #FAFAFA;/* Blanco sutil para textos o fondos destacados */
  --text-color-dark: #131313; /* texto oscuro */
  --text-color-light: #f4f1ee; /* texto claro */
  
  --font-family-tittle: 'Cinzel', 'serif';
  --font-family-main: "Poppins", sans-serif; /* Tipografía principal */

}